body {
    font-family: Roboto Slab, serif;
}

img {
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(80, 80, 80, 0.2);
}

img.no-shadow {
    box-shadow: none;
}

.app-sub-sidebar li:before {
    content: none;
}

.sidebar ul li a:hover {
    color: #42b983;
    text-decoration: none;
    font-weight: bold;
}

.markdown-section {
    max-width: 1280px;
    padding: 20px 40px;
}

.markdown-section a {
    text-decoration: none;
}

.markdown-section table {
    display: table;
}

.markdown-section th {
    border: none;
    padding: 0.8rem 1.2rem;
    text-align: left;
    background: #dee2e6;
}

.markdown-section td {
    border: none;
    padding: 0.8rem 1.2rem;
}

.markdown-section tr {
    border-top: none;
}

.markdown-section tr:hover {
    background: rgba(0, 0, 0, 0.06);
}

.markdown-section pre {
    border-radius: 6px;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

footer {
    margin-top: 6em;
    text-align: right;
    color: #3abb81;
    font-weight: 600;
    font-style: italic;
}

footer .modified {
    display: inline-block;
    font-size: 12px;
    padding-right: 4px;
}

footer .read-time {
    display: inline-block;
    font-size: 12px;
    padding-left: 4px;
}